services:
  db:
    image: postgres
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_PASSWORD: password@123#

  adminer:
    image: adminer:latest
    restart: always
    ports:
      - '8888:8080'
    depends_on:
      - db